CREATE DATABASE  [QL_CHDT]
USE [QL_CHDT]

GO
ALTER TABLE [dbo].[HOA_DON] DROP CONSTRAINT [hoa_don_manv]
GO
ALTER TABLE [dbo].[HOA_DON] DROP CONSTRAINT [hoa_don_makh_fk]
GO
ALTER TABLE [dbo].[CTHD] DROP CONSTRAINT [CTHD_masp_fk]
GO
ALTER TABLE [dbo].[CTHD] DROP CONSTRAINT [CTHD_mahd_fk]
GO
/****** Object:  Table [dbo].[SUA_CHUA]    Script Date: 12/27/2020 3:33:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SUA_CHUA]') AND type in (N'U'))
DROP TABLE [dbo].[SUA_CHUA]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 12/27/2020 3:33:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAN_PHAM]') AND type in (N'U'))
DROP TABLE [dbo].[SAN_PHAM]
GO
/****** Object:  Table [dbo].[NHAP_KHO]    Script Date: 12/27/2020 3:33:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHAP_KHO]') AND type in (N'U'))
DROP TABLE [dbo].[NHAP_KHO]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 12/27/2020 3:33:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHAN_VIEN]') AND type in (N'U'))
DROP TABLE [dbo].[NHAN_VIEN]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 12/27/2020 3:33:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KHACH_HANG]') AND type in (N'U'))
DROP TABLE [dbo].[KHACH_HANG]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 12/27/2020 3:33:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HOA_DON]') AND type in (N'U'))
DROP TABLE [dbo].[HOA_DON]
GO
/****** Object:  Table [dbo].[CTSC]    Script Date: 12/27/2020 3:33:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CTSC]') AND type in (N'U'))
DROP TABLE [dbo].[CTSC]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 12/27/2020 3:33:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CTHD]') AND type in (N'U'))
DROP TABLE [dbo].[CTHD]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 12/27/2020 3:33:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACCOUNT]') AND type in (N'U'))
DROP TABLE [dbo].[ACCOUNT]
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign1]    Script Date: 12/27/2020 3:33:27 PM ******/
DROP FUNCTION [dbo].[fuConvertToUnsign1]
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign1]    Script Date: 12/27/2020 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fuConvertToUnsign1] ( @strInput NVARCHAR(4000) ) RETURNS NVARCHAR(4000) AS BEGIN IF @strInput IS NULL RETURN @strInput IF @strInput = '' RETURN @strInput DECLARE @RT NVARCHAR(4000) DECLARE @SIGN_CHARS NCHAR(136) DECLARE @UNSIGN_CHARS NCHAR (136) SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' +NCHAR(272)+ NCHAR(208) SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD' DECLARE @COUNTER int DECLARE @COUNTER1 int SET @COUNTER = 1 WHILE (@COUNTER <=LEN(@strInput)) BEGIN SET @COUNTER1 = 1 WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1) BEGIN IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) ) BEGIN IF @COUNTER=1 SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) ELSE SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER) BREAK END SET @COUNTER1 = @COUNTER1 +1 END SET @COUNTER = @COUNTER +1 END SET @strInput = replace(@strInput,' ','-') RETURN @strInput END
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 12/27/2020 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[username] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[mat_khau] [varchar](1000) NOT NULL,
 CONSTRAINT [username_pk] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 12/27/2020 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[mahd] [varchar](10) NOT NULL,
	[masp] [varchar](10) NOT NULL,
	[so_luong] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTSC]    Script Date: 12/27/2020 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTSC](
	[masc] [varchar](10) NULL,
	[malk] [varchar](10) NULL,
	[so_luong] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 12/27/2020 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[mahd] [varchar](10) NOT NULL,
	[makh] [varchar](10) NOT NULL,
	[ngay_ban] [datetime] NULL,
	[manv] [varchar](10) NOT NULL,
	[tri_gia] [float] NOT NULL,
	[giam_gia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[mahd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 12/27/2020 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[makh] [varchar](10) NOT NULL,
	[ten_kh] [nvarchar](50) NOT NULL,
	[ngay_sinh] [date] NULL,
	[dia_chi] [nvarchar](100) NOT NULL,
	[dien_thoai] [varchar](20) NOT NULL,
	[gioi_tinh] [nvarchar](5) NOT NULL,
	[doanh_thu] [float] NULL,
 CONSTRAINT [makh_pk] PRIMARY KEY CLUSTERED 
(
	[makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 12/27/2020 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[manv] [varchar](10) NOT NULL,
	[username] [nvarchar](100) NULL,
	[ten_nv] [nvarchar](50) NULL,
	[ngay_sinh] [date] NOT NULL,
	[dia_chi] [nvarchar](100) NOT NULL,
	[dien_thoai] [varchar](20) NOT NULL,
	[gioi_tinh] [nvarchar](5) NOT NULL,
	[loainhanvien] [nvarchar](50) NULL,
 CONSTRAINT [manv_pk] PRIMARY KEY CLUSTERED 
(
	[manv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAP_KHO]    Script Date: 12/27/2020 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAP_KHO](
	[manhaphang] [varchar](10) NOT NULL,
	[manguoinhap] [varchar](10) NOT NULL,
	[masp] [varchar](10) NOT NULL,
	[ten_sp] [nvarchar](50) NOT NULL,
	[loai_sp] [nvarchar](50) NOT NULL,
	[ngay_nhap] [date] NULL,
	[gia_nhap] [float] NOT NULL,
	[so_luong] [int] NOT NULL,
	[tong_tien] [decimal](20, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[manhaphang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 12/27/2020 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[masp] [varchar](10) NOT NULL,
	[ten_sp] [nvarchar](50) NOT NULL,
	[loai_sp] [nvarchar](50) NOT NULL,
	[so_luong] [int] NOT NULL,
	[gia_nhap] [float] NOT NULL,
	[gia_ban] [float] NOT NULL,
	[img] [ntext] NULL,
	[ton_tai] [int] NULL,
 CONSTRAINT [masp_pk] PRIMARY KEY CLUSTERED 
(
	[masp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUA_CHUA]    Script Date: 12/27/2020 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUA_CHUA](
	[masc] [varchar](10) NULL,
	[ngay_nhan] [smalldatetime] NULL,
	[ngay_giao] [smalldatetime] NULL,
	[makh] [varchar](10) NULL,
	[manv] [varchar](10) NULL,
	[ten_sp] [nvarchar](100) NULL,
	[loai_sp] [nvarchar](100) NULL,
	[tri_gia] [float] NULL,
	[tinh_trang] [nvarchar](100) NULL,
	[ghi_chu] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([username], [email], [mat_khau]) VALUES (N'huy', N'buiminhhuyqnam@gmail.com', N'NWoZK3kTsExUV00Ywo1G5jlUKKs=')
INSERT [dbo].[ACCOUNT] ([username], [email], [mat_khau]) VALUES (N'khang', N'khang@gmail.com', N'NWoZK3kTsExUV00Ywo1G5jlUKKs=')
INSERT [dbo].[ACCOUNT] ([username], [email], [mat_khau]) VALUES (N'phuc', N'1@gmail.com', N'NWoZK3kTsExUV00Ywo1G5jlUKKs=')
GO
INSERT [dbo].[CTHD] ([mahd], [masp], [so_luong]) VALUES (N'HD01', N'SP04', 1)
INSERT [dbo].[CTHD] ([mahd], [masp], [so_luong]) VALUES (N'HD02', N'SP04', 1)
INSERT [dbo].[CTHD] ([mahd], [masp], [so_luong]) VALUES (N'HD03', N'SP04', 1)
GO
INSERT [dbo].[CTSC] ([masc], [malk], [so_luong]) VALUES (N'SC04', N'LK01', 1)
INSERT [dbo].[CTSC] ([masc], [malk], [so_luong]) VALUES (N'SC03', N'LK01', 1)
INSERT [dbo].[CTSC] ([masc], [malk], [so_luong]) VALUES (N'SC05', N'LK01', 1)
GO
INSERT [dbo].[HOA_DON] ([mahd], [makh], [ngay_ban], [manv], [tri_gia], [giam_gia]) VALUES (N'HD01', N'KH01', CAST(N'2020-11-27T00:00:00.000' AS DateTime), N'NV01', 32990000, 0)
INSERT [dbo].[HOA_DON] ([mahd], [makh], [ngay_ban], [manv], [tri_gia], [giam_gia]) VALUES (N'HD02', N'KH01', CAST(N'2020-11-27T00:00:00.000' AS DateTime), N'NV01', 32990000, 0)
INSERT [dbo].[HOA_DON] ([mahd], [makh], [ngay_ban], [manv], [tri_gia], [giam_gia]) VALUES (N'HD03', N'KH01', CAST(N'2020-11-27T00:00:00.000' AS DateTime), N'NV01', 32990000, 0)
GO
INSERT [dbo].[KHACH_HANG] ([makh], [ten_kh], [ngay_sinh], [dia_chi], [dien_thoai], [gioi_tinh], [doanh_thu]) VALUES (N'KH01', N'Bùi Minh Huy', CAST(N'2001-10-20' AS Date), N'abcd', N'0349705568', N'Nam', 172940000)
INSERT [dbo].[KHACH_HANG] ([makh], [ten_kh], [ngay_sinh], [dia_chi], [dien_thoai], [gioi_tinh], [doanh_thu]) VALUES (N'KH02', N'Phuc', CAST(N'2020-12-03' AS Date), N'12321', N'1234', N'Nam', 1000000)
INSERT [dbo].[KHACH_HANG] ([makh], [ten_kh], [ngay_sinh], [dia_chi], [dien_thoai], [gioi_tinh], [doanh_thu]) VALUES (N'KH03', N'hoan', CAST(N'2020-09-28' AS Date), N'12333', N'123', N'Nam', 0)
GO
INSERT [dbo].[NHAN_VIEN] ([manv], [username], [ten_nv], [ngay_sinh], [dia_chi], [dien_thoai], [gioi_tinh], [loainhanvien]) VALUES (N'NV01', N'huy', N'Bùi Minh Huy', CAST(N'2001-10-20' AS Date), N'abcd', N'0349705568', N'Nam', N'admin')
INSERT [dbo].[NHAN_VIEN] ([manv], [username], [ten_nv], [ngay_sinh], [dia_chi], [dien_thoai], [gioi_tinh], [loainhanvien]) VALUES (N'NV02', N'phuc', N'Phúc', CAST(N'2020-11-29' AS Date), N'213', N'231321', N'Nam', N'Kỹ thuật')
INSERT [dbo].[NHAN_VIEN] ([manv], [username], [ten_nv], [ngay_sinh], [dia_chi], [dien_thoai], [gioi_tinh], [loainhanvien]) VALUES (N'NV03', N'khang', N'Khang', CAST(N'2020-11-29' AS Date), N'aaa', N'321321', N'Nam', N'Bán hàng')
GO
INSERT [dbo].[NHAP_KHO] ([manhaphang], [manguoinhap], [masp], [ten_sp], [loai_sp], [ngay_nhap], [gia_nhap], [so_luong], [tong_tien]) VALUES (N'NH01', N'NV01', N'SP13', N'Asus Gaming Rog Strix G512', N'Laptop', CAST(N'2020-12-16' AS Date), 25000000, 10, CAST(250000000 AS Decimal(20, 0)))
INSERT [dbo].[NHAP_KHO] ([manhaphang], [manguoinhap], [masp], [ten_sp], [loai_sp], [ngay_nhap], [gia_nhap], [so_luong], [tong_tien]) VALUES (N'NH02', N'NV01', N'SP04', N'Samsung Galaxy Note 20 Ultra 5G', N'Điện thoại', CAST(N'2020-12-07' AS Date), 27000000, 10, CAST(270000000 AS Decimal(20, 0)))
INSERT [dbo].[NHAP_KHO] ([manhaphang], [manguoinhap], [masp], [ten_sp], [loai_sp], [ngay_nhap], [gia_nhap], [so_luong], [tong_tien]) VALUES (N'NH03', N'NV01', N'SP09', N'MacBook Air 2017', N'Laptop', CAST(N'2020-12-11' AS Date), 18000000, 1, CAST(18000000 AS Decimal(20, 0)))
GO
INSERT [dbo].[SUA_CHUA] ([masc], [ngay_nhan], [ngay_giao], [makh], [manv], [ten_sp], [loai_sp], [tri_gia], [tinh_trang], [ghi_chu]) VALUES (N'SC04', CAST(N'2020-12-18T00:00:00' AS SmallDateTime), CAST(N'2020-12-18T00:00:00' AS SmallDateTime), N'KH03', N'NV02', N'ipad', N'Dienthoai', 2400000, N'thanhtoan', N'hư nguồn')
INSERT [dbo].[SUA_CHUA] ([masc], [ngay_nhan], [ngay_giao], [makh], [manv], [ten_sp], [loai_sp], [tri_gia], [tinh_trang], [ghi_chu]) VALUES (N'SC05', CAST(N'2020-12-20T00:00:00' AS SmallDateTime), CAST(N'2020-12-20T00:00:00' AS SmallDateTime), N'KH03', N'NV02', N'ss', N'Laptop', 1200000, N'thanhtoan', N'ffff')
INSERT [dbo].[SUA_CHUA] ([masc], [ngay_nhan], [ngay_giao], [makh], [manv], [ten_sp], [loai_sp], [tri_gia], [tinh_trang], [ghi_chu]) VALUES (N'SC03', CAST(N'2020-12-17T00:00:00' AS SmallDateTime), CAST(N'2020-12-17T00:00:00' AS SmallDateTime), N'KH03', N'NV01', N'iphone', N'Dienthoai', 10000000, N'thanhtoan', N'')
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [CTHD_mahd_fk] FOREIGN KEY([mahd])
REFERENCES [dbo].[HOA_DON] ([mahd])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [CTHD_mahd_fk]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [CTHD_masp_fk] FOREIGN KEY([masp])
REFERENCES [dbo].[SAN_PHAM] ([masp])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [CTHD_masp_fk]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [hoa_don_makh_fk] FOREIGN KEY([makh])
REFERENCES [dbo].[KHACH_HANG] ([makh])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [hoa_don_makh_fk]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [hoa_don_manv] FOREIGN KEY([manv])
REFERENCES [dbo].[NHAN_VIEN] ([manv])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [hoa_don_manv]
GO
